---
import { Image } from 'astro:assets';
import Text from '@/components/Text.astro';
import ghee from '@/assets/images/ghee.jpg';
import PageLayout from '@/layouts/PageLayout.astro';
---

<PageLayout
    title="ঘি"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/finance/business-of-madrassa',
            label: 'ফুড এন্ড বুক শপ',
        },
        {
            url: '/finance/business-of-madrassa/honey',
            label: 'মধু',
        },
        {
            url: '/finance/business-of-madrassa/ghee',
            label: 'ঘি',
            isCurrentPage: true,
        },
    ]}
>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <Image
                src={ghee}
                class="h-auto w-full rounded-md border-1"
                alt="ঘি"
            />
        </div>
        <div>
            <Text class={'pt-0'}>
                বেশ কয়েক বছর ধরেই মাদ্‌রাসাতুল ইলম কিছু খাদ্যপণ্যের নির্ভেজাল
                উৎপাদন ও ব্যবসার সাথে জড়িত আছে। এই প্রথম খাদ্যপণ্যগুলো অনলাইনে
                বিক্রির জন্য উন্মুক্ত করা হচ্ছে, যাতে মানুষের কাছে নির্ভেজাল
                খাদ্যপণ্যগুলো সহজলভ্য হয়, আর এর লভ্যাংশ দ্বারা উপকৃত হয়
                মাদ্‌রাসাতুল ইলম।
            </Text>
            <Text variant="h5">এমনই একটি পণ্য, ঘি:</Text>
            <Text
                >খাটি দুধের সর (ক্রিম) থেকে তৈরি করা হয় এই ঘি। একবার খেলে ইন শা
                আল্লাহ বার-বার খেতে ইচ্ছা করবে।
            </Text>
            <Text variant="h5">মূল্য:</Text>
            <Text> - ২৫০ গ্রাম ৩০০ টাকা </Text>
            <Text> - ৫০০ গ্রাম ৬০০ টাকা </Text>
            <Text class={'font-bold'}>সাথে ডেলিভারী চার্জ: 60~120 টাকা</Text>
        </div>
    </div>
</PageLayout>
