---
import LinkCard from '@/components/LinkCard.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import Text from '@/components/Text.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
import { Button } from '@/components/ui/button';
import { getCurrentPath } from '@/lib/utils';

const links = await getCollection('links');
const currentPath = getCurrentPath(Astro.url.pathname);

const items = links.find((item) => item.id === currentPath)?.data ?? [];
---

<PageLayout
    title="ছবি দেখে ইংরেজী শব্দ শেখা"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/study-materials',
            label: 'শিক্ষাপোকরণ',
        },
        {
            url: '/study-materials/english',
            label: 'ইংরেজী',
        },
        {
            url: '/study-materials/english/learn-english-by-watching-pictures',
            label: 'ছবি দেখে ইংরেজী শব্দ শেখা',
            isCurrentPage: true,
        },
    ]}
    shouldIndex={true}
>
    <Text class={'pt-0'}>
        ছোটবেলায় আমরা মানব দেহ, ফল-ফুল, পশু-পাখি কত কিছুর নাম বাংলা আর ইংরেজীতে
        এক সাথে মুখস্থ করেছি। এই দুই ভাষার সাথে শুধু আরবীটা জুড়ে দিলে কিন্তু
        আমাদের কোনো ক্ষতি হত না, বরং বাড়ত ৩ ভাষার উপই দক্ষতা।
    </Text>
    <Text>
        আর তাই মাদ্রাসাতুল ইল্‌ম প্রেসেন্টেশন আকারে (ছবি সহ) তৈরি করেছে ৩ ভাষার
        শব্দ ভান্ডার। ৩ ভাষা বললেও বেশিরভাগ প্রেসেন্টেশনেই বাংলা শব্দ ব্যবহার
        করা হয় নি। কারণ, এটা ছবি দেখেই বোঝা যায়।
    </Text>
    <Text>
        বাংলা ব্যবহার না করার আরেকটা কারণ, অনেকেই বাচ্চাকে এভাবে পড়ান, "Cat মানে
        বিড়াল", যা আসলে ভাষা শেখার সঠিক পদ্ধতি নয়। বরং, একটা বিড়ালের ছবি দেখিয়ে
        বলা যেতে পারে, "It is a Cat"।
    </Text>
    <Text>
        এভাবে প্রশ্নও করা যেতে পারে, "What is this?"। তাহলেই বাচ্চারা প্রয়োজনীয়
        শব্দগুলো ইংরেজী ভাষাতেই আলাদা আলাদা ভাবে শিখবে, ইন শা আল্লাহ।
    </Text>
    <div class="mt-4 grid grid-cols-1 gap-4 md:mt-6 md:grid-cols-3 md:gap-6">
        {
            items.map((item, index) => (
                <LinkCard
                    title={item.title}
                    link={item.link}
                    buttonTitle="ডাউনলোড"
                />
            ))
        }
    </div>
    <div class="mt-6 text-center">
        <a
            href="https://drive.google.com/drive/folders/1RP52Gp4S_Sf7Wc13aVJDmNp57cU2CvR_?usp=sharing"
            target="_blank"
            referrerpolicy="no-referrer"
        >
            <Button>English Work sheet ডাউনলোড</Button>
        </a>
    </div>
    <div class="mt-4 text-center *:mx-auto *:rounded-md *:border-1 md:mt-6">
        <YouTube
            id="gQY-yuevN_E"
            posterQuality="max"
            params="list=PLN6GIGge5un9gKYMXvM0YtQrlO5_TlxGA"
        />
    </div>
</PageLayout>
