---
import LinkCard from '@/components/LinkCard.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import Text from '@/components/Text.astro';

const items = [
    {
        title: 'আল-কুরআন তিলাওয়াতের নিয়ম-কানুন PDF (উস্তায নাসীল শাহরুখ)',
        link: 'https://drive.google.com/file/d/1RVuyyJg94WpQAbbKH-ZE8vXwojHOo3fz/view?usp=sharing',
    },
    {
        title: 'রিয়াদুল লিসান (আরবী হরফ+হরকত দিয়ে বিভিন্ন শব্দ) PDF ',
        link: 'https://drive.google.com/file/d/1zjGqEfpH3rInFS-UJx_jQ7_ZZ5jfgD8u/view?usp=sharing',
    },
    {
        title: 'রিয়াদুল লিসান (আরবী হরফ+হরকত দিয়ে বিভিন্ন শব্দ) Audio',
        link: 'https://drive.google.com/drive/folders/1NBnF2V4exyQkJFe3p071zrBEATkX-pbv?usp=sharing',
    },
    {
        title: 'আরবী হরফের মাখরাজ (ছবি সহ) PDF',
        link: 'https://drive.google.com/file/d/1mkY0vNPYxsy3iUEBBY5G_WCIXaY6ibGF/view?usp=sharing',
    },
];
---

<PageLayout
    title="তাজউইদ"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/study-materials',
            label: 'শিক্ষাপোকরণ',
        },
        {
            url: '/study-materials/quran-and-hadith',
            label: 'কুর্‌আন ও হাদীস',
        },
        {
            url: '/study-materials/quran-and-hadith/quran-and-tazweed',
            label: 'কুর’আন ও তাজউইদ',
        },
        {
            url: '/study-materials/quran-and-hadith/quran-and-tazweed/tazweed',
            label: 'তাজউইদ',
            isCurrentPage: true,
        },
    ]}
>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
        {
            items.map((item, index) => (
                <LinkCard
                    title={item.title}
                    link={item.link}
                    buttonTitle="ডাউনলোড"
                />
            ))
        }
    </div>
</PageLayout>
