---
import { getCollection } from 'astro:content';
import LinkCard from '@/components/LinkCard.astro';
import PageLayout from '@/layouts/PageLayout.astro';

const links = await getCollection('links');
const currentPath = Astro.url.pathname.split('/').pop();

const presentations = links.find((item) => item.id === currentPath)?.data ?? [];
---

<PageLayout
    title="কায়দা মাক্কিয়াহ বইয়ের PowerPoint Presentation ডাউনলোড"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/study-materials',
            label: 'শিক্ষাপোকরণ',
        },
        {
            url: '/study-materials/arabic',
            label: 'আরবী',
        },
        {
            url: '/study-materials/arabic/arabic-letters-with-4-form-and-pictures',
            label: 'আরবী বর্ণ চিনি ও আরবী পড়তে শিখি',
        },
        {
            url: '/study-materials/arabic/qaidah-makkiah-presentation',
            label: 'কায়দা মাক্কিয়াহ বইয়ের PowerPoint Presentation ডাউনলোড',
            isCurrentPage: true,
        },
    ]}
>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-6">
        {
            presentations.map((item) => (
                <LinkCard
                    title={item.title}
                    link={item.link}
                    buttonTitle="ডাউনলোড"
                />
            ))
        }
    </div>
</PageLayout>
