---
import Text from '@/components/Text.astro';
import PageLayout from '@/layouts/PageLayout.astro';
---

<PageLayout
    title="পাঠ্যক্রম"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/study-materials',
            label: 'শিক্ষাপোকরণ',
        },
        {
            url: '/syllabus',
            label: 'পাঠ্যক্রম',
            isCurrentPage: true,
        },
    ]}
>
    <Text class="pt-0">
        মাদরাসাতুল ইল্‌ম মূলত একটি হিফয মাদ্রাসা। তবে ‘হিফয’ শুরু করার পূর্বেই
        প্রতিটি ছাত্র/ছাত্রীকে একই সাথে দুটি পাঠ্যক্রম সফলভাবে সমাপ্ত করতে হয়।
        পাঠ্যক্রম দুটির একটি হচ্ছে: দ্বীনিয়াত শিক্ষা পাঠ্যক্রম, এবং অপরটি:
        সাধারণ শিক্ষা পাঠ্যক্রম।
    </Text>
    <Text variant="h3">দ্বীনিয়াত শিক্ষা পাঠ্যক্রম</Text>
    <ul
        role="list"
        class="mt-6 *:mb-1.5 *:before:mr-1.5 *:before:content-[attr(data-icon)]"
    >
        <li data-icon="✦">
            “শুধু কুর্‌আন হিফয-ই নয়, শিশু বয়স-ই দ্বীনের মৌলিক জ্ঞান অর্জনের
            উপযুক্ত সময়” এই পটভূমিতেই রচিত ‘মাদরাসাতুল ইলম’ এর ‘দ্বীনিয়াত শিক্ষা
            পাঠ্যক্রম’;
        </li>
        <li data-icon="✦">
            ‘দ্বীনিয়াত লেভেল-শিশু’ থেকে শুরু করে ‘দ্বীনিয়াত লেভেল-৫’ পর্যন্ত মোট
            ছয়টি শ্রেণী এই পাঠ্যক্রমের আওতাভুক্ত;
        </li>
        <li data-icon="✦">
            কার্যক্রমটি মূলত ‘নূরানি ও নাযেরা’ বিভাগের ছাত্র/ছাত্রীদের জন্য
            প্রযোজ্য;
        </li>
        <li data-icon="✦">
            দ্বীনিয়াত পাঠ্যক্রমের মাধ্যমে একজন ছাত্র/ছাত্রী যা যা অর্জন করবে (ইন
            শা-আল্লাহ)-
            <ul
                role="list"
                class="my-4 pl-6 *:mb-1.5 *:before:mr-1.5 *:before:content-[attr(data-icon)]"
            >
                <li data-icon="✦">শেষ দুই পারা কুর্‌আন হিফয</li>
                <li data-icon="✦">২০০ ছোট ছোট ও ছন্দময় হাদীস হিফয</li>
                <li data-icon="✦">
                    ‘হিসনুল মুসলিম’ থেকে প্রয়োজনীয় বেশ কিছু দু’আ হিফয
                </li>
                <li data-icon="✦">আক্বীদাহ, আদব ও ফিকহ এর জরূরী কিছু জ্ঞান</li>
                <li data-icon="✦">আরবী ভাষার উপর প্রাথমিক দক্ষতা</li>
                <li data-icon="✦">
                    একজন ছাত্র/ছাত্রী ‘দ্বীনিয়াত লেভেল-৩’ সফলভাবে সমাপ্ত করার পর
                    ‘দ্বীনিয়াত লেভেল-হিফয’ এ উত্তীর্ণ হতে পারবে;
                </li>
            </ul>
        </li>
        <li data-icon="✦">
            শিক্ষক নিজস্ব দ্বীনি চেতনার আলোকে দ্বীন শিক্ষাকে মুখস্থ নির্ভর না
            করে প্রয়োগিকভাবে ছাত্র/ছাত্রীর কাছে পাঠ উপস্থাপন করবেন, এ-ই
            ‘মাদরাসাতুল ইলম’ এর প্রত্যাশা।
        </li>
    </ul>
</PageLayout>
