---
import Text from '@/components/Text.astro';
import PageLayout from '@/layouts/PageLayout.astro';
---

<PageLayout
    title="পরিচিতি"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/about',
            label: 'পরিচিতি',
            isCurrentPage: true,
        },
    ]}
>
    <Text class="pt-0"
        >আল-কুর্‌আনুল কারীমের হিফয কার্যক্রমকে কেন্দ্র করে বাংলাদেশে গড়ে উঠেছে
        অসংখ্য প্রতিষ্ঠান। কিন্তু আমরা লক্ষ্য করেছি, প্রতিষ্ঠানগুলোর বেশিরভাগই
        আল-কুর্‌আনের মূল উদ্দেশ্যকে পূরণ করতে ব্যর্থ। পবিত্র গ্রন্থ আল-কুর্‌আন
        নাযিলের মূল উদ্দেশ্য সম্পর্কে আল্লাহ বলেন:</Text
    >
    <Text class="text-primary font-arabic text-center text-2xl font-bold">
        كِتَابٌ أَنْزَلْنَاهُ إِلَيْكَ مُبَارَكٌ لِيَدَّبَّرُوا آيَاتِهِ
        وَلِيَتَذَكَّرَ أُولُو الْأَلْبَابِ
    </Text>
    <Text>
        “এক মুবারক কিতাব, এটা আমরা আপনার প্রতি নাযিল করেছি, যাতে মানুষ এর আয়াত
        সমূহ গভীরভাবে চিন্তা করে এবং যাতে বোধশক্তিসম্পন্ন ব্যক্তিরা গ্ৰহণ করে
        উপদেশ।” (সুরা 38 সাদ: ২৯)
    </Text>
    <Text
        >আর তাই, হিফযুল কুর্‌আনে এক বৈচিত্র আনার লক্ষ্য নিয়ে ‘মাদ্রাসাতুল ইলম’
        যাত্রা শুরু করে ২০১৯ সালে। মাদ্রাসাতুল ইলম এর বৈশিষ্ট্যগুলো নিম্নরূপ:</Text
    >
    <Text variant="h3"> নূরানী ও নাযেরা প্রোগ্রাম:</Text>

    <Text
        >বই এর পাশাপাশি দেয়ালে টাঙানো TV Screen এ Powerpoint Presentation ও
        Video এর মাধ্যমে শিক্ষা দেওয়া হয় আরবী পড়তে পারার যোগ্যতা, যাকে নূরানী
        শিক্ষা বলা হয়ে থাকে। এ বিষয়ক মাদ্রাসাতুল ইলম এর কিছু Powerpoint
        Presentation এই সাইট এর Study Materials থেকে ডাউনলোড করতে পারেন। গোটা
        কুর্‌আন পড়তে পারার যোগ্যতাকে বলা হয় নাযেরা শিক্ষা। নূরানী ও নাযেরা এ
        দুই-ই পরিচালনা করেন মাদ্রাসাতুল ইলম এর অভিজ্ঞ হিফয উস্তাজ। নূরানী ও
        নাযেরা শিক্ষারত অবস্থায় শিক্ষার্থীরা আবাসিক বা অনাবাসিক যেকোন সুবিধা
        গ্রহণ করতে পারেন।</Text
    >

    <Text variant="h3">হিফয প্রোগ্রাম:</Text>
    <Text
        >মাদ্রাসাতুল ইলম এর আবাসিক বোর্ডিং এ থেকে হিফযুল কুর্‌আন কোর্সে ভর্তি
        হতে হবে।</Text
    >

    <Text variant="h3">সহীহ তিলাওয়াত:</Text>
    <Text
        >অনেক হাফিযকেই দেখা যায় কুর্‌আন ভালোভাবে হিফয করলেও তিলাওয়াত
        ত্রুটিপূর্ণ। আর তাই মাদ্রাসাতুল ইলম এই বিষয়ে বিশেষ নযর দেয়। নূরানী,
        নাযেরা ও হিফয কার্যক্রম চলমান অবস্থায় সহীহ তিলাওয়াতের জন্য অভিজ্ঞ
        উস্তাজ দ্বারা নিয়মিত মশক করানো হয়। পাশাপাশি বাচ্চাদের TV Screen এ
        বিশ্ববিখ্যাত ক্বারী ‘আইমান সুয়াইদ’ এর তিলাওয়াত শুনিয়ে অনুশীলন করানো
        হয় নিয়মিত।</Text
    >
    <Text variant="h3">আরবী ভাষা শিক্ষা</Text>
    <Text
        >মাদ্রাসাতুন ইলম এর অন্যতম আকর্ষণ আরবী ভাষা শিক্ষা দান করা। এক্ষেত্রে
        মাদ্রাসাতুন ইলম এর লক্ষ্য:</Text
    >
    <ul
        role="list"
        class="mt-6 *:mb-1.5 *:before:mr-1.5 *:before:content-[attr(data-icon)]"
    >
        <li data-icon="✦">
            একজন ত্বলিবুল ইলম যেনো আল-কুর্‌আন মোটামোটি বুঝে মুখস্থ করতে পারে।
        </li>
        <li data-icon="✦">
            কুর্‌আন হিফয করার পর যেনো মানুষকে আল-কুর্‌আন দিয়ে নাসীহাহ (উপদেশ)
            দিতে পারে।
        </li>
        <li data-icon="✦">
            পরবর্তী উচ্চশিক্ষায় যেনো মাদ্রাসাতুল ইলম এর ত্বলিবুল ইলম অনেকটা
            এগিয়ে থাকে।
        </li>
    </ul>
    <Text
        >কুর্‌আন হিফয এর পাশাপাশি অভিজ্ঞ শিক্ষক দ্বারা এই কার্যক্রম পরিচালনা করা
        হয়ে থাকে। এক্ষেত্রে আধুনিক ভাষা কারিকুলাম ‘লিন-নাশিঈন’ পাঠ দান করা হয়ে
        থাকে। তাছাড়াও ত্বলিবুল ইলমদের শিখানো হয় অনেক আরবী শব্দ। এক্ষেত্রে
        ব্যবহার করা হয় উন্নত বই ও Powerpoint Presentation। এ বিষয়ক মাদ্রাসাতুন
        ইলম এর কিছু Powerpoint Presentation এই সাইট এর Study Materials থেকে
        ডাউনলোড করতে পারেন।</Text
    >
    <Text variant="h3">সাধারণ শিক্ষা:</Text>
    <Text>
        কুর্‌আন হিফয শেষে কোনো ত্বলিবুল ইলম যেনো দ্বীনি বা সাধারণ শিক্ষার যে
        কোনো ক্ষেত্রে যোগদান করতে পারে, তাই হিফয কার্যক্রমের পাশাপাশি চলে এই
        সাধারণ শিক্ষা কার্যক্রম। মাদ্রাসাতুন ইলম এ ক্ষেত্রে জাতীয় এবতেদায়ী
        কারিকুলাম অনুসরণ করে থাকে। রয়েছে PSC পরিক্ষায় অংশগ্রহণের সুযোগ। অভিজ্ঞ
        শিক্ষক দ্বারা এ কার্যক্রম পরিচালনা করা হয়ে থাকে।
    </Text>
    <Text variant="h3">পার্ট টাইম মক্তব:</Text>
    <Text
        >স্কুল পড়ুয়া ছাত্ররা মাদ্রাসাতুল ইলম এ এসে কুর্‌আন তিলাওয়াত ও আরবী
        ভাষা শিক্ষা করতে পারবে।</Text
    >
</PageLayout>
