---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ContainerLayout from '@/layouts/ContainerLayout.astro';
import HeroSection from '@/components/HeroSection.astro';
import Text from '@/components/Text.astro';
---

<BaseLayout meta={{ title: 'Home' }}>
    <ContainerLayout>
        <HeroSection />
        <Text variant="h3" class="text-center">ржкрж╛ржа ржХрж╛рж░рзНржпржХрзНрж░ржо</Text>

        <ul
            role="list"
            class="mt-6 grid grid-cols-3 gap-6 *:mb-1.5 *:rounded-md *:border-x *:border-x-(--pattern-fg) *:bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] *:bg-[size:10px_10px] *:bg-fixed *:py-6 *:text-center *:ring-2 *:[--pattern-fg:var(--color-gray-950)]/5 *:before:mr-1.5 *:before:content-[attr(data-icon)] *:max-lg:hidden *:dark:[--pattern-fg:var(--color-white)]/10"
        >
            <li data-icon="ЁЯУХ">ржирзВрж░рж╛ржирзА ржУ ржирж╛ржпрзЗрж░рж╛ ржкрзНрж░рзЛржЧрзНрж░рж╛ржо</li>
            <li data-icon="ЁЯУХ">рж╣рж┐ржлржп ржкрзНрж░рзЛржЧрзНрж░рж╛ржо</li>
            <li data-icon="ЁЯУХ">рж╕рж╣рзАрж╣ рждрж┐рж▓рж╛ржУржпрж╝рж╛ржд</li>
            <li data-icon="ЁЯУХ">ржЖрж░ржмрзА ржнрж╛рж╖рж╛ рж╢рж┐ржХрзНрж╖рж╛</li>
            <li data-icon="ЁЯУХ">рж╕рж╛ржзрж╛рж░ржг рж╢рж┐ржХрзНрж╖рж╛</li>
            <li data-icon="ЁЯУХ">ржкрж╛рж░рзНржЯ ржЯрж╛ржЗржо ржоржХрзНрждржм</li>
        </ul>

        <Text variant="h3" class="text-center">рж╕рзБржмрж┐ржзрж╛рж╕ржорзВрж╣</Text>

        <ul
            role="list"
            class="mt-6 *:mb-1.5 *:before:mr-1.5 *:before:content-[attr(data-icon)]"
        >
            <li data-icon="тЬж">ржмрж╛рж▓ржХ рж╢рж╛ржЦрж╛рж░ ржЬржирзНржп ржЖржмрж╛рж╕рж┐ржХ/ржЕржирж╛ржмрж╛рж╕рж┐ржХ рж╕рзБржмрж┐ржзрж╛</li>
            <li data-icon="тЬж">
                ржмрж╛рж▓рж┐ржХрж╛ рж╢рж╛ржЦрж╛ржпрж╝ ржЕржирж╛ржмрж╛рж╕рж┐ржХ ржмрзНржпржмрж╕рзНржерж╛, рждржмрзЗ ржорж╣рж┐рж▓рж╛ рж╢рж┐ржХрзНрж╖рж┐ржХрж╛ ржжрзНржмрж╛рж░рж╛
                ржкрж╛ржаржжрж╛ржи
            </li>
            <li data-icon="тЬж">
                ржмрж╛рж▓ржХ-ржмрж╛рж▓рж┐ржХрж╛ ржЙржнржпрж╝ рж╢рж╛ржЦрж╛ржпрж╝ ржкрж╛ржаржжрж╛ржирзЗрж░ ржЬржирзНржп ржирж┐рж░рж┐ржмрж┐рж▓рж┐ ржкрж░рж┐ржмрзЗрж╢
            </li>
            <li data-icon="тЬж">ржЖржмрж╛рж╕рж┐ржХ ржЫрж╛рждрзНрж░ржжрзЗрж░ ржЬржирзНржп ржЙржирзНржиржд ржЦрж╛ржмрж╛рж░рзЗрж░ ржмрзНржпржмрж╕рзНржерж╛</li>
            <li data-icon="тЬж">рж╢рж┐ржХрзНрж╖рж╛рж░рзНржерзАржжрзЗрж░ ржЦрзЗрж▓рж╛ржзрзБрж▓рж╛рж░ ржЬржирзНржп ржирж┐рж░рж╛ржкржж рж╕рзНржерж╛ржи</li>
            <li data-icon="тЬж">
                рж╕рж┐-рж╕рж┐ ржХрзНржпрж╛ржорзЗрж░рж╛ ржжрзНржмрж╛рж░рж╛ рж╕рж╛рж░рзНржмрж┐ржХ ржкрж░рж┐рж╕рзНржерж┐ржд ржиржЬрж░ржжрж╛рж░рзАрждрзЗ рж░рж╛ржЦрж╛
            </li>
            <li data-icon="тЬж">
                ржЖржмрж╛рж╕рж┐ржХ ржЫрж╛рждрзНрж░ржжрзЗрж░ ржжрзЗржЦрж╛рж╢рзЛржирж╛рж░ ржЬржирзНржп ржПржХржЬржи рждрждрзНрждрзНржмрж╛ржмржзржпрж╝ржХрзЗрж░ ржЕржмрж╕рзНржерж╛ржи
            </li>
        </ul>
    </ContainerLayout>
</BaseLayout>
