---
import LinkCard from '@/components/LinkCard.astro';
import PageLayout from '@/layouts/PageLayout.astro';

const items = [
    {
        title: 'দু’আ সম্ভার-১ এর দু’আ সমূহের উচ্চারণ',
        link: 'https://drive.google.com/drive/folders/1emsfidzL2-jblt-lKdun_rIuyp7-aIdW?usp=sharing',
    },
];
---

<PageLayout
    title="দু’আ সমূহের উচ্চারণ"
    breadcrumbItems={[
        {
            url: '/',
            label: 'নীড়পাতা',
        },
        {
            url: '/study-materials',
            label: 'শিক্ষাপোকরণ',
        },
        {
            url: '/study-materials/quran-and-hadith',
            label: 'কুর্‌আন ও হাদীস',
        },
        {
            url: '/study-materials/quran-and-hadith/hadith-and-dua-collection',
            label: 'হাদীস ও দু’আ সম্ভার',
        },
        {
            url: '/study-materials/quran-and-hadith/hadith-and-dua-collection/dua-audio',
            label: 'দু’আ সমূহের উচ্চারণ',
            isCurrentPage: true,
        },
    ]}
    shouldIndex={true}
>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
        {
            items.map((item, index) => (
                <LinkCard
                    title={item.title}
                    link={item.link}
                    buttonTitle="ডাউনলোড"
                />
            ))
        }
    </div>
</PageLayout>
