---
import FooterYear from './FooterYear';
import Text from './Text.astro';
---

<div class="border-t py-6">
    <Text class="text-center"
        >লেখস্বত্ব © <FooterYear startYear={2019} client:visible />
        <a class="text-primary" href="/">মাদ্‌রাসাতুল ইল্‌ম</a></Text
    >
</div>
