---
import HeaderLink from '@/components/HeaderLink.astro';
import ModeToggle from '@/components/ModeToggle.tsx';

import { isActivePath } from '@/lib/utils';
import MobileNavbar from './MobileNavbar.astro';

const currentPath = Astro.url.pathname;
---

<header
    class="supports-backdrop-blur:bg-background/80 bg-background/80 sticky top-0 z-40 w-full border-b py-4 backdrop-blur lg:py-4"
>
    <div
        class="mx-auto flex max-w-6xl items-center justify-between px-4 text-lg md:px-6"
    >
        <a href={`/`} class="text-primary flex items-center no-underline"
            >মাদ্‌রাসাতুল ইল্‌ম</a
        >
        <div class="flex items-center">
            <nav class="hidden lg:flex">
                <HeaderLink
                    href={`/about`}
                    isActive={isActivePath(currentPath, 'about')}
                >
                    পরিচিতি
                </HeaderLink>
                <HeaderLink
                    href={`/facilities`}
                    isActive={isActivePath(currentPath, 'facilities')}
                >
                    সুবিধাসমূহ
                </HeaderLink>
                <HeaderLink
                    href={`/study-materials`}
                    isActive={isActivePath(
                        currentPath,
                        'study-materials',
                        false
                    )}
                >
                    শিক্ষাপোকরণ
                </HeaderLink>
                <HeaderLink
                    href={`/finance/business-of-madrassa`}
                    isActive={isActivePath(
                        currentPath,
                        'business-of-madrassa',
                        false
                    )}
                >
                    ফুড এন্ড বুক শপ
                </HeaderLink>
                <HeaderLink
                    href={`/finance`}
                    isActive={isActivePath(
                        currentPath,
                        'finance',
                        false,
                        'business-of-madrassa'
                    )}
                    isLastItem={true}
                >
                    আর্থিক ব্যাপার
                </HeaderLink>
                <HeaderLink
                    href={`/contact`}
                    isActive={isActivePath(currentPath, 'contact')}
                    isLastItem={true}
                >
                    যোগাযোগ
                </HeaderLink>
            </nav>
            <div class="flex items-center gap-4 *:pr-4 last:*:pr-0">
                <ModeToggle client:load />
                <MobileNavbar />
            </div>
        </div>
    </div>
</header>
