---
import type { BreadcrumbItem } from '@/components/types';
import BaseLayout from './BaseLayout.astro';
import PageHeader from '@/components/PageHeader.astro';

interface Props {
    title: string;
    breadcrumbItems: BreadcrumbItem[];
}

const { title, breadcrumbItems } = Astro.props;
---

<BaseLayout meta={{ title }}>
    <PageHeader title={title} breadcrumbItems={breadcrumbItems} />
    <div class="mx-auto max-w-3xl px-4 pt-4 pb-16 md:pt-6 lg:px-0">
        <slot />
    </div>
</BaseLayout>
